**/.terraform
**/.terraform.lock.hcl
*.zip

*.tfstate
*.tfstate.*

resources/lambda/delete*/*
resources/lambda/put*/*
resources/lambda/post*/*
resources/lambda/get*/*
resources/lambda/sign*/*
resources/lambda/venv/*
resources/lambda/add*/*
resources/lambda/update*/*
resources/python/*

!resources/lambda/delete*/delete*.py
!resources/lambda/put*/put*.py
!resources/lambda/post*/post*.py
!resources/lambda/get*/get*.py
!resources/lambda/sign*/sign*.py
!resources/lambda/add*/add*.py
!resources/lambda/update*/update*.py



./money-organizer-app/node_modules/*